<div class="card">
    <div class="card-header">Filtros: </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">De</label>
                <input type="number" id="min-preco" class="form-control" placeholder="R$ 1 - ~">
            </div>

            <div class="form-group">
                <label for="até">Até</label>    
                <input type="number" id="max-preco" class="form-control" placeholder="R$ 1 - ~">
            </div>
        </form>
    </div>
</div>